.Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 20px;
    .img{
        img{
            height: 30px;
        }
    }
    nav{
        display: flex;
        input{
            border-radius: 6px;
            background-color: transparent;
            outline: none;
            border: 1px solid var(--secondary-color);
            width: 50%;
        }
        p{
            width: auto;
        }
        #cart{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100px;
        }
    }
    nav>*{
        padding: 8px 12px;
        margin: 5px;
        cursor: pointer;
    }
}